---

- name: OpenStack system volume for "{{ logical_cluster_name }}-{{ inventory_hostname }}"
  connection: local
  become: false
  os_volume:
    state: present
    wait: yes
    display_name: "{{ logical_cluster_name }}-{{ inventory_hostname }}-bootvol"
    image: "{{ image }}"
    size: "{{ sys_vol_size }}"
  register: os_host_sys_vol
  when: site_name != "tacc"

- name: OpenStack System (volume backed instance)
  connection: local
  become: false
  os_server:
    state: present
    wait: yes
    name: "{{ logical_cluster_name }}-{{ inventory_hostname }}"
    flavor: "{{ flavor }}"
    key_name: "{{ key_name }}"
    auto_ip: false
    network: "{{ network_name }}"
    boot_volume: "{{ logical_cluster_name }}-{{ inventory_hostname }}-bootvol"
  register: os_host
  when: site_name != "tacc"

- name: OpenStack System (ephemeral instance)
  connection: local
  become: false
  os_server:
    state: present
    wait: yes
    name: "{{ logical_cluster_name }}-{{ inventory_hostname }}"
    flavor: "{{ flavor }}"
    image: "{{ image }}"
    key_name: "{{ key_name }}"
    auto_ip: false
    network: "{{ network_name }}"
  register: os_host
  when: site_name == "tacc"

#- debug: var=os_host

- name: Grab Private IP 
  set_fact:
    ansible_host: "{{ os_host.server.private_v4 }}"
  register: os_priv_addr

- name: Wait for host up
  become: false
  local_action: wait_for host={{ ansible_host }} port=22 search_regex=OpenSSH

- name: register key for host
  set_fact:
    ansible_private_key_file: "{{ key_path }}/{{ key_name }}.pem"
