[Unit]
Description=Mount {{ docker_volume_dev }} on /var/lib/docker
After=local-fs.target

[Mount]
What={{ docker_volume_dev }}
Where=/var/lib/docker
Type=xfs
Options=noatime

[Install]
WantedBy=multi-user.target
