---
apiVersion: v1
kind: Endpoints
metadata:
  name: glfs-server-{{ clusterfs_vol_name }}
  namespace: kube-system
subsets:
- addresses:
{% for node in groups['glfs'] %}  - ip: {{ hostvars[node]['ansible_host'] }}
{% endfor %}
  ports:
  - port: 1
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: glfs-server-{{ clusterfs_vol_name }}
  namespace: kube-system
  labels:
    app: glfs-server-{{ clusterfs_vol_name }}
spec:
  ports:
    - port: 1

---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: glfs-server-{{ clusterfs_vol_name }}
  namespace: kube-system
  labels:
    app: glfs-server-{{ clusterfs_vol_name }}
spec:
  template:
    metadata:
      labels:
        name: glfs-server-{{ clusterfs_vol_name }}
    spec:
      nodeSelector:
        ndslabs-role-glfs: "true"
      hostNetwork: true
      hostIPC: true
      hostPID: true
      containers:
        - image: {{ gluster_image_name }}
          imagePullPolicy: Always
          name: glfs-server
          securityContext:
            privileged: true
          volumeMounts:
            - name: cgroup
              mountPath: /sys/fs/cgroup
            - name: etc-glusterfs
              mountPath: /etc/glusterfs
            - name: var-lib-glusterd
              mountPath: /var/lib/glusterd
            - name: var-log-glusterfs
              mountPath: /var/log/glusterfs
            - name: brick0
              mountPath: {{ hostvars[groups['glfs'][1]]['brick_mount_path'] }}
            - name: glconfig
              mountPath: /etc/glconfig
            - name: dev
              mountPath: /dev
          command:
            - entrypoint
            - server
          readinessProbe:
            exec:
              command:
              - readiness
            initialDelaySeconds: 5
            timeoutSeconds: 1
          livenessProbe:
            tcpSocket:
              port: 24007
            initialDelaySeconds: 5
            timeoutSeconds: 1
          lifecycle:
            preStop:
              exec:
                command: 
                  - stop-server
      volumes:
        - name: cgroup
          hostPath:
              path: /sys/fs/cgroup
        - name: brick0
          hostPath:
              path: {{ hostvars[groups['glfs'][1]]['brick_mount_path'] }}
        - name: var-lib-glusterd
          hostPath:
              path: /var/lib/glusterd
        - name: etc-glusterfs
          hostPath:
              path: /etc/glusterfs
        - name: var-log-glusterfs
          hostPath:
              path: /var/log/glusterfs
        - name: glconfig
          configMap:
            name: glfs-config-{{ clusterfs_vol_name }}
        - name: dev
          hostPath:
              path: /dev
