[Unit]
Description=Mount {{ os_device }} on {{ mount_point }}
After=local-fs.target

[Mount]
What={{ os_device }}
Where={{ mount_point }}
Type={{ filesystem_format }}
Options=noatime

[Install]
WantedBy=multi-user.target
