
#
# Parts for backup servers, stored as secret backup-config
#
export BACKUP_USER="{{ backup_user }}"
export BACKUP_HOST="{{ backup_host }}"
export BACKUP_PATH="{{ backup_path }}"
export BACKUP_KEY="/etc/backupConfig/backup-key.pem"
export CLUSTER_KEY="/etc/backupConfig/cluster-key.pem"
export BRICK_PATH="{{ hostvars[groups['glfs'][0]]['brick_mount_path'] }}"
export ETCD_HOST="{{ hostvars[groups['etcd'][0]]['ansible_host'] }}"
export ETCD_USER="{{ hostvars[groups['etcd'][0]]['ansible_user'] }}"