---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: cluster-backup-{{ clusterfs_vol_name }}
  namespace: kube-system
  labels:
    app: cluster-backup-{{ clusterfs_vol_name }}
spec:
  template:
    metadata:
      labels:
        name: cluster-backup-{{ clusterfs_vol_name }}
    spec:
      nodeSelector:
        ndslabs-role-glfs: "true"
      hostNetwork: true
      containers:
        - image: {{ backup_image_name }}
          imagePullPolicy: Always
          name: cluster-backup
          securityContext:
            privileged: true
          volumeMounts:
            - name: etc-glusterfs
              mountPath: /etc/glusterfs
            - name: var-lib-glusterd
              mountPath: /var/lib/glusterd
            - name: var-log-glusterfs
              mountPath: /var/log/glusterfs
            - name: brick0
              mountPath: {{ hostvars[groups['glfs'][1]]['brick_mount_path'] }}
            - name: var-lib-etcd
              mountPath: /var/lib/etcd
            - name: dev
              mountPath: /dev
            - name: var-lib-xfsdump
              mountPath: /var/lib/xfsdump
            - name: glconfig
              mountPath: /etc/glconfig
            - name: backup-config
              mountPath: /etc/backupConfig
          command:
            - /usr/local/bin/entrypoint
      volumes:
        - name: brick0
          hostPath:
              path: {{ hostvars[groups['glfs'][1]]['brick_mount_path'] }}
        - name: var-lib-glusterd
          hostPath:
              path: /var/lib/glusterd
        - name: etc-glusterfs
          hostPath:
              path: /etc/glusterfs
        - name: var-log-glusterfs
          hostPath:
              path: /var/log/glusterfs
        - name: var-lib-etcd
          hostPath:
              path: /var/lib/etcd
        - name: dev
          hostPath:
              path: /dev
        - name: var-lib-xfsdump
          hostPath:
            path: /var/lib/xfsdump
        - name: glconfig
          configMap:
            name: glfs-config-{{ clusterfs_vol_name }} 
        - name: backup-config
          secret:
            secretName: backup-config

