apiVersion: v1
kind: Service
metadata:
  name: ndslabs-webui
  labels:
    component: ndslabs-webui
spec:
  selector:
    component: ndslabs-webui
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
#      nodePort: 30000
#  type: NodePort
---
apiVersion: v1
kind: ReplicationController
metadata:
  name: ndslabs-webui
spec:
  replicas: 1
  selector:
    component: ndslabs-webui
  template:
    metadata:
      labels:
        component: ndslabs-webui
    spec:
      containers:
      - name: ndslabs-webui
        image: {{ webui_image_name }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
          - name: APISERVER_HOST
            value: "www.{{ ndslabs_domain }}"
          - name: APISERVER_PORT
            value: ""
          - name: APISERVER_PATH
            value: "/api"
          - name: APISERVER_SECURE
            value: "true"
          - name: SUPPORT_EMAIL
            value: "{{ support_email }}"
          - name: ANALYTICS_ACCOUNT
            value: "{{ analytics_account }}"
        readinessProbe:
          httpGet:
            path: /asset/png/favicon-2-32x32.png
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          timeoutSeconds: 120
      nodeSelector:
          ndslabs-node-role: compute
