apiVersion: v1
kind: Service
metadata:
  name: ndslabs-apiserver
  labels:
    component: ndslabs-apiserver
spec:
  selector:
    component: ndslabs-apiserver
  ports:
    - port: 30001
      protocol: TCP
---
apiVersion: v1
kind: ReplicationController
metadata:
  name: ndslabs-apiserver
spec:
  replicas: 1
  selector:
    component: ndslabs-apiserver
  template:
    metadata:
      labels:
        component: ndslabs-apiserver
    spec:
      containers:
      - name: ndslabs-apiserver
        image: {{ apiserver_image_name }}
        imagePullPolicy: Always
        ports:
        - containerPort: 30001
          protocol: TCP
        volumeMounts:
          - name: volumes
            mountPath: {{ clusterfs_vol_path }}
        env:
          - name: ETCD_ADDR
            value: "$(NDSLABS_ETCD_SERVICE_HOST):$(NDSLABS_ETCD_SERVICE_PORT)"
          - name: KUBERNETES_ADDR
            value: "https://{{ ansible_default_ipv4.address }}:443"
          - name: CORS_ORIGIN_ADDR
            value: "https://www.{{ ndslabs_domain }}"
          - name: INGRESS
            value: "LoadBalancer"
          - name: VOLUME_PATH
            value: "{{ clusterfs_vol_path }}"
          - name: VOLUME_NAME
            value: "{{ clusterfs_vol_name }}"
          - name: SMTP_HOST
            value: "$(NDSLABS_SMTP_SERVICE_HOST)"
          - name: SMTP_TLS
            value: "false"
          - name: SUPPORT_EMAIL
            valueFrom:
              configMapKeyRef:
                name: ndslabs-config
                key: workbench.support_email
          - name: REQUIRE_APPROVAL
            valueFrom:
              configMapKeyRef:
                name: ndslabs-config
                key: workbench.require_account_approval
          - name: DOMAIN
            valueFrom:
              configMapKeyRef:
                name: ndslabs-config
                key: workbench.domain
          - name: SPEC_GIT_REPO
            valueFrom:
              configMapKeyRef:
                name: ndslabs-config
                key: git.spec_repo
          - name: SPEC_GIT_BRANCH
            valueFrom:
              configMapKeyRef:
                name: ndslabs-config
                key: git.spec_branch
      volumes:
       - hostPath:
            path: {{ clusterfs_vol_path }}
         name: volumes
      nodeSelector:
          ndslabs-role-loadbal: "true"
