apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kube-lma-ingress
  namespace: kube-system
spec:
  tls:
  - hosts:
    - www.{{ndslabs_domain}}
    secretName: ndslabs-tls-secret
  rules:
  - host: www.kubedash.{{ndslabs_domain}}
    http:
      paths:
      - backend:
          serviceName: kubedash
          servicePort: 80
        path: /
  - host: www.kubeui.{{ndslabs_domain}}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
        path: /
  - host: www.prometheus.{{ndslabs_domain}}
    http:
      paths:
      - backend:
          serviceName: promdash
          servicePort: 9090
        path: /
  - host: www.kibana.{{ndslabs_domain}}
    http:
      paths:
      - backend:
          serviceName: kibana-logging
          servicePort: 5601
        path: /
  - host: www.grafana.{{ndslabs_domain}}
    http:
      paths:
      - backend:
          serviceName: monitoring-grafana
          servicePort: 80
        path: /
