apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: glusterfs-server
  labels:
    app: glusterfs-server
spec:
  template:
    metadata:
      labels:
        name: glusterfs-server
    spec:
      nodeSelector:
        ndslabs-node-role: glfs
      hostPID: true
      hostIPC: true
      hostNetwork: true
      containers:
        - image: ndslabs/gluster:iassist
          imagePullPolicy: Always
          name: glusterfs-server
          securityContext:
            privileged: true
          volumeMounts:
            - name: brick0
              mountPath: {{ brick_mount_path }}
      volumes:
        - name: brick0
          hostPath:
              path: {{ brick_mount_path }}
