apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kube-lma-ingress
  namespace: kube-system
  annotations:
    ingress.kubernetes.io/auth-type: basic
    ingress.kubernetes.io/auth-secret: basic-auth
    ingress.kubernetes.io/auth-realm: NDS Labs
spec:
  tls:
  - hosts:
    - kubedash.{{ ndslabs_domain }}
    - kubeui.{{ ndslabs_domain }}
    - prometheus.{{ ndslabs_domain }}
    - kibana.{{ ndslabs_domain }}
    - grafana.{{ ndslabs_domain }}
    secretName: ndslabs-tls-secret
  rules:
  - host: kubedash.{{ ndslabs_domain }}
    http:
      paths:
      - backend:
          serviceName: kubedash
          servicePort: 80
        path: /
  - host: kubeui.{{ ndslabs_domain }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
        path: /
  - host: prometheus.{{ ndslabs_domain }}
    http:
      paths:
      - backend:
          serviceName: promdash
          servicePort: 9090
        path: /
  - host: kibana.{{ ndslabs_domain }}
    http:
      paths:
      - backend:
          serviceName: kibana-logging
          servicePort: 5601
        path: /
  - host: grafana.{{ ndslabs_domain }}
    http:
      paths:
      - backend:
          serviceName: monitoring-grafana
          servicePort: 80
        path: /
