[Unit]
Description=Mount {{ storage_volume_dev }} on /media/storage
After=local-fs.target
 
 [Mount]
What={{ storage_volume_dev }}
Where=/media/storage
Type=ext4
Options=noatime
 
 [Install]
WantedBy=multi-user.target
