#
# Deallocate the OpenStack systems
# Does NOT destroy the key or security groups
#

# disassociate any publicips
- name: Remove LoadBalancer public interface
  hosts: publicip
  connection: local
  tasks:
    - os_floating_ip: server={{ logical_cluster_name }}-{{ inventory_hostname }} state=absent reuse=yes wait=yes
    
# delete the system
- name: Remove OpenStack system
  hosts: cluster
  connection: local
  tasks:
    - os_server: state=absent wait=yes name="{{ logical_cluster_name }}-{{ inventory_hostname }}"

# delete the fact cache
- name: Remove fact cache
  hosts: cluster
  tasks:
    - local_action: 
        module: file
        state: absent
        path: "/root/SAVED_AND_SENSITIVE/inventory_cache/{{ inventory_hostname }}"

# delete docker vols
- name: Remove docker volumes
  hosts: compute
  connection: local
  tasks:
    - os_volume: state=absent wait=yes display_name="{{ logical_cluster_name }}-{{ inventory_hostname }}-dockervol"


# delete storage vols
- name: Remove storage volumes
  hosts: all
  connection: local
  tasks:
    - os_volume: state=absent wait=yes display_name="{{ logical_cluster_name }}-{{ inventory_hostname }}-storagevol"

# delete glfs vols
- name: Remove glfs volumes
  hosts:  cluster:&glfs
  connection: local
  tasks:
    - os_volume: state=absent wait=yes display_name="{{ logical_cluster_name }}-{{ inventory_hostname }}-glfs"
  
- name: remove ssh host config
  hosts: cluster
  serial: 1
  tasks:
    - local_action:
        module: blockinfile
        state: absent
        dest: ~/.ssh/config
        marker: "# {mark} ANSIBLE MANAGED for {{ logical_cluster_name }}-{{ inventory_hostname }}"
        block: |
          host {{ logical_cluster_name }}-{{ inventory_hostname }}
            hostname {{ ansible_host }}
            user {{ ansible_user }}
            IdentityFile {{ key_path }}/{{ key_name }}.pem
      failed_when: false
